/* $Id: style.css,v 1.23 2007/12/17 15:05:09 goba Exp $ */

/*
** HTML elements
*/
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: #dedede;
  font: 76% Verdana, Arial, Helvetica, sans-serif;
}

#box {
   width: 1000px;
   height: auto;
   margin: 0px auto;
   text-align: left;
   background-color: #fff;
}

tr.odd td, tr.even td {
  padding: 0.3em;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3, h4, h5, h6 {
  font-size: 1.3em;
}
p {
 font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0.9em;
}
a {
  text-decoration: none;
 
}
a:link {
  color: #39c;
}
a:visited {
  color: #369;
}
a:hover {
  color: #39c;
  text-decoration: underline;
}
fieldset {
  border: 1px solid #ccc;
}
pre {
  width:700px;
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 14px;
  border: 1px solid #ddd;
}
table {
  /* make <td> sizes relative to body size! */
  font-size: 1em;
}
.form-item label {
  font-size: 1.1em;
  color: #222;
}
.item-list .title {
  font-size: 1.1em;
  color: #222;
}
.links {
  margin-bottom: 0;
}
.comment .links {
  margin-bottom: 0;
}

/*
** Page layout blocks / IDs
*/
#header{
width:100%;
}

#content {

}
#header {
  background: white url("headergrad.png") 0 0 repeat-x;
  background-color: #69c;
  height: 120px;
}

#menua {
background: #aaa url('menubg.gif') 0 0 repeat-x;
}

#menua a{
}

#logo {
  vertical-align: middle;
  border: 0;
  padding-left: 40px;
}
#logo img {
  float: left; /* LTR */
  padding: 0 0em;
  border: 0;
}
#menu {
  padding: 0.5em 0.5em 0 0.5em; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}
#navlist {
  font-size: 1.1em;
  padding: 0 0.8em 1.2em 0; /* LTR */
  color: #fff;
}
#navlist a {
  font-weight: bold;
  color: #fff;
}
#subnavlist {
  padding: 0px; /* LTR */
}

#subnavlist a {
text-decoration: none;

color: #2F2F2F;
text-shadow: white 0 1px 1px;
}

#subnavlist a:hover {
text-decoration: none;
color:#333;
}

ul.iob_links {
  margin:0;
  padding: 0;
  list-style-type: none;
  background: #444444;
  background-image: -webkit-linear-gradient(#555,#333);
  background-image: -moz-linear-gradient(#555,#333);
  background-image: -ms-linear-gradient(#555,#333);
  background-image: -o-linear-gradient(#555,#333);
  background-image: linear-gradient(#555,#333);

  border-top: 1px solid #888;
  height:33px;
}

ul.iob_links li {

  float: left;
}

ul.iob_links li a {
  line-height:32px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-shadow: 0 -1px 1px black;
  border-right: 1px solid #000;
  display: block;
  padding-left:15px;
  padding-right:15px; 
}

ul.iob_links li a:hover{
  background: #555555;
  background-image: -webkit-linear-gradient(#666,#444);
  background-image: -moz-linear-gradient(#666,#444);
  background-image: -ms-linear-gradient(#666,#444);
  background-image: -o-linear-gradient(#666,#444);
  background-image: linear-gradient(#666,#444);
}

ul.links li {
line-height:27px;
border-left: 1px solid #aaa;
   /* LTR */
}
ul.links li.first {
  border: none;
}
#search .form-text, #search .form-submit {
  border: 1px solid #369;
  font-size: 1.1em;
  height: 1.5em;
  vertical-align: middle;
}
#search .form-text {
  width: 8em;
  padding: 0 0.5em;
}
#mission {
  background-color: #369;
  padding: 1.5em 2em;
  color: #000;
}
#mission a, #mission a:visited {
  color: #000;
  font-weight: bold;
}
.site-name {
  margin: 0.6em 0 0 ;
  padding: 0;
  font-size: 3em;
}
.site-name a:link, .site-name a:visited {
  color: #fff;
}
.site-name a:hover {
  color: #369;
  text-decoration: none;
}
.site-slogan {
  font-size: 1em;
  color: #eee;
  display: block;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}
#main {

  width:740px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px 10px 10px 20px;
  background-color: #ffffff;
}
#mission, .node .content, .content {
  line-height: 1.4em;
}
#help {
  font-size: 0.9em;
  margin-bottom: 1em;
}
.breadcrumb {
  margin-bottom: .5em;
}
.messages {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 1em;
}
.error {
  border-color: red;
}
#sidebar-left, #sidebar-right {
  border-left: 1px solid #ccc;
  background-color: rgb(245,245,235);
  width: 200px;
  /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 10px;
  vertical-align: top;
}
#footer {
  text-align: center;
  background-color: #ccc;
  padding: 1em;
  font-size: 0.8em;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
  font-weight: bold;
  /* font-size: 1.3em; */
  color: #777;
  margin: 0 auto;  /* decrease default margins for h<x>.title */
}

.forumlisttitle, .forumlisttitle a {

}

.submitted {
  color: #999;
  font-size: 0.8em;
}
.links {
  color: #999;
}
.links a {
  font-weight: bold;
}
.block, .box {
  padding: 0 0 1.5em 0; /* LTR */
}
.block {
  border-bottom: 1px solid #bbb;
  padding-bottom: 0.75em;
  margin-bottom: 1.5em;
}
.block .title {
  /*margin-bottom: .25em;*/
}
.box .title {
  font-size: 1.1em;
}
.node {
  margin: .5em 0 2em; /* LTR */
}
.sticky {
  padding: .5em;
  background-color: #eee;
  border: solid 1px #ddd;
}
.node .content, .comment .content {
  margin: .5em 0 .5em;
}
.node .taxonomy {
  color: #999;
  font-size: 0.8em;
  padding-left: 1.5em; /* LTR */
}
.node .picture {
  border: 1px solid #ddd;
  float: right; /* LTR */
  margin: 0.5em;
}
.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 1em;
  font-size: 0.9em;
  background-color: #e8e8e8;
}
.comment .title a {
  font-size: 1.1em;
  font-weight: bold;
}
.comment .new {
  text-align: right; /* LTR */
  font-weight: bold;
  font-size: 0.8em;
  float: right; /* LTR */
  color: red;
}
.comment .picture {
  border: 1px solid #abc;
  float: right; /* LTR */
  margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em 0;
}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
  color: #999;
  font-style: italic;
  font-size: 0.9em;
}
#aggregator .title {
  margin-bottom: 0.5em;
  font-size: 1em;
}
#aggregator h3 {
  margin-top: 1em;
}
#forum table {
  width: 100%;
}
#forum td {
  padding: 0.5em;
}
#forum td.forum, #forum td.posts {
  background-color: #eee;
}
#forum td.topics, #forum td.last-reply {
  background-color: #ddd;
}
#forum td.container {
  background-color: #ccc;
}
#forum td.container a {
  color: #555;
}
#forum td.statistics, #forum td.settings, #forum td.pager {
  height: 1.5em;
  border: 1px solid #bbb;
}
#forum td .name {
  color: #96c;
}
#forum td .links {
  padding-top: 0.7em;
  font-size: 0.9em;
}
#profile .profile {
  clear: both;
  border: 1px solid #abc;
  padding: .5em;
  margin: 1em 0em;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}
.block-forum h3 {
  margin-bottom: .5em;
}
div.admin-panel .description {
  color: #999;
}
div.admin-panel .body {
  background: #f4f4f4;
}
div.admin-panel h3 {
  background-color: #69c;
  color: #fff;
  padding: 5px 8px 5px;
  margin: 0;
}

#block-menu-menu-emoncms {
  background-color: rgb(255,255,250);
  padding:5px;
  font-weight:bold;
  font-size:13px;
  /*border: 1px solid #ccc;*/
}

#block-menu-menu-emontx {
  background-color: rgb(255,255,250);
  padding:5px;
  font-weight:bold;
  font-size:13px;
  /*border: 1px solid #ccc;*/
}

.getstartedbutton {
text-align: center;
cursor: pointer;
margin: .5em 5px;
padding: .6em 25px;

-webkit-border-radius: 1em;
border-radius: 1em;

-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
box-shadow: 0 1px 4px rgba(0,0,0,.3);

text-decoration: none;
border: 1px solid #CCC;
background: #EEE;
font-weight: bold;
color: #444;
text-shadow: 0 1px 1px #F6F6F6;
background-image: -webkit-gradient(linear,left top,left bottom,from(#fdfdfd),to(#eee));
background-image: -webkit-linear-gradient(#fdfdfd,#eee);
background-image: -moz-linear-gradient(#fdfdfd,#eee);
background-image: -ms-linear-gradient(#fdfdfd,#eee);
background-image: -o-linear-gradient(#fdfdfd,#eee);
background-image: linear-gradient(#fdfdfd,#eee);
}

.getstartedbutton:hover {
background-image: -webkit-linear-gradient(#eee,#ddd);
}

